<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Meringkas data</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="../styles/data-summary.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<div class="navbar">
</div>
<body>
  <div class="home-page">
    <p class="dashboard">Dashboard</p>
    <div class="content-left">
      <!-- <div class="upload-view">
        <div class="upload">
          <p class="upload-view-text">Upload new data</p>
          <div class="upload-view-button">Upload</div>
        </div>
        <div class="line">
        </div>
        <div class="view">
          <p class="upload-view-text">View data sets</p>
          <div class="upload-view-button">View</div>
        </div>
      </div>

      <div class="section">
        <div class="head-section">
          <p class="title-section">Jumlah produk ikan (fish) yang dibeli oleh tiap kelompok Education</p>
          <div class="view-more">View more</div>
        </div>
        <table class="content-section">
          <tr>
            <th>Education</th>
            <th>Count of Fish</th>
          </tr>
          <tr>
            <td>10</td>
            <td>Primary School</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Primary School</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Primary School</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Primary School</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Primary School</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="content-right">
      <div class="section" id="bar-chart">
        <div class="head-section">
          <p class="title-section">NumDealsPurchases</p>
          <div class="view-more">View more</div>
        </div>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
      </div>

      <div class="section" id="scatter-plot">
        <div class="head-section">
          <p class="title-section">NumDealsPurchases</p>
          <div class="view-more">View more</div>
        </div>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
      </div>
    </div> -->
  </div>
</body>