<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Meringkas data</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="../styles/meringkas-data.css"/>
</head>
<body>
<div class="meringkas-data-RuX">
  <div class="rectangle-1-myP">
  </div>
  <p class="ringkas-data-Wvy">Ringkas data</p>
  <div class="auto-group-ogum-dkh">
    <div class="auto-group-cegm-nNh">
      <p class="select-data-set-i1T">Select data set</p>
      <div class="auto-group-kvpp-d8R">
        <p class="row-Au3">Row</p>
        <p class="column-5FK">Column</p>
        <div class="line-4-z7P">
        </div>
        <div class="line-5-7ho">
        </div>
      </div>
    </div>
    <div class="line-2-Cz9">
    </div>
    <div class="auto-group-jm97-98h">Variabel</div>
    <div class="auto-group-vuzk-ajo">
      <div class="auto-group-p9ft-WdT">
        <div class="auto-group-2trf-cwP">Variabel</div>
        <div class="auto-group-8pph-ufb">Variabel</div>
        <div class="auto-group-gmwd-PKs">Variabel</div>
        <div class="auto-group-5wer-Hw3">Variabel</div>
      </div>
      <div class="group-1-zaZ">
        <div class="rectangle-2-7fB">
        </div>
        <div class="line-6-FmP">
        </div>
        <div class="line-7-P6u">
        </div>
        <div class="line-8-ius">
        </div>
        <div class="line-9-sGy">
        </div>
        <div class="line-10-1PB">
        </div>
        <div class="line-11-wGq">
        </div>
        <p class="frequency-UnZ">Frequency</p>
        <p class="item-1000-bcH">1000</p>
        <p class="item-800-7Kj">800</p>
        <p class="item-600-qFj">600</p>
        <p class="item-400-ktV">400</p>
        <p class="item-200-6Bf">200</p>
        <p class="numdealspurchases-25K">NumDealsPurchases</p>
        <p class="item-0-dL1">0</p>
        <p class="item-2-MG1">2</p>
        <p class="item-4-sVF">4</p>
        <p class="item-3-zZs">3</p>
        <p class="item-6-hz5">6</p>
        <p class="item-5-q4h">5</p>
        <p class="item-8-Yzh">8</p>
        <p class="item-7-sXB">7</p>
        <p class="numdealspurchases-bi5">NumDealsPurchases</p>
        <p class="item-10-K8H">10</p>
        <p class="item-9-SCu">9</p>
        <p class="item-12-9t1">12</p>
        <p class="item-11-5Wm">11</p>
        <p class="item-14-bV7">14</p>
        <p class="item-13-6wf">13</p>
        <div class="rectangle-pMs">
        </div>
        <div class="rectangle-Mch">
        </div>
        <div class="rectangle-hRf">
        </div>
        <div class="rectangle-dKK">
        </div>
        <div class="rectangle-MWD">
        </div>
        <div class="rectangle-tW9">
        </div>
        <div class="rectangle-pub">
        </div>
        <div class="rectangle-yGh">
        </div>
        <div class="rectangle-KLZ">
        </div>
        <div class="rectangle-rrH">
        </div>
        <div class="rectangle-oWd">
        </div>
        <div class="rectangle-MHF">
        </div>
        <div class="rectangle-VPT">
        </div>
      </div>
    </div>
  </div>
</div>
</body>