<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Meringkas Data (tabel)</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500"/>
  <link rel="stylesheet" href="../styles/meringkas-data-tabel-Ng5.css"/>
</head>
<body>
<div class="meringkas-data-tabel-Bob">
  <div class="navbar-fTs">
  </div>
  <div class="auto-group-9sdo-b6d">
    <p class="ringkas-data-4ku">Ringkas Data</p>
    <div class="table-YAH">
      <div class="count-of-fish-To3">
        <p class="sum-of-fish-nKX">Sum of Fish</p>
        <p class="item-100-6r1">100</p>
        <div class="item-210-cJZ">210</div>
        <div class="item-150-7WD">150</div>
        <div class="item-320-Eaq">320</div>
        <div class="item-250-ADb">250</div>
      </div>
      <div class="education-gxd">
        <p class="education-1V7">Education</p>
        <p class="primary-school-vMB">Primary School</p>
        <div class="junior-high-school-3wb">Junior High School</div>
        <div class="high-school-yKT">High School</div>
        <div class="college-6Q5">College</div>
        <div class="university-EFP">University</div>
      </div>
      <div class="table-line-kUd">
        <div class="line-22-e4D">
        </div>
        <div class="line-21-xKo">
        </div>
        <div class="line-20-gWh">
        </div>
        <div class="line-19-DWd">
        </div>
      </div>
    </div>
    <div class="line-24-64d">
    </div>
    <p class="select-data-set-Df3">Select data set</p>
    <div class="line-6-7kR">
    </div>
    <div class="rectangle-16-F5w">
    </div>
    <p class="variabel-xm3">Variabel</p>
    <div class="rectangle-17-gBF">
    </div>
    <p class="variabel-Qsw">Variabel</p>
    <div class="rectangle-18-8Z3">
    </div>
    <p class="variabel-TbK">Variabel</p>
    <div class="rectangle-19-yZf">
    </div>
    <p class="variabel-iGM">Variabel</p>
    <div class="rectangle-20-du7">
    </div>
    <p class="variabel-Nrh">Variabel</p>
    <div class="header-JEZ">
      <div class="auto-group-eqyj-Bp9">Education</div>
      <div class="auto-group-hacd-GKo">
        <div class="label1-12V">Label1</div>
        <div class="label2-hg1">Label2</div>
        <img class="icons-regular-chevron-down-s-1Ro" src="./assets/icons-regular-chevron-down-s-2qj.png"/>
      </div>
      <div class="label3-w4Z">Label3</div>
      <div class="auto-group-rhnd-rhK">
        <div class="label4-cAh">Label4</div>
        <div class="label5-Kqo">Label5</div>
      </div>
    </div>
    <div class="header-1yX">
      <div class="auto-group-stgd-id3">Sum of Fish</div>
      <div class="auto-group-jebp-1c9">
        <div class="label1-xGV">Label1</div>
        <div class="label2-seM">Label2</div>
        <img class="icons-regular-chevron-up-s-ky3" src="./assets/icons-regular-chevron-up-s.png"/>
      </div>
      <div class="label3-fq7">Label3</div>
      <div class="auto-group-gmrd-PFK">
        <div class="label4-jKB">Label4</div>
        <div class="label5-SDb">Label5</div>
      </div>
    </div>
    <div class="items-frame-XF3">
      <div class="items-list-rHK">
        <div class="item-hover-BaV">
          <div class="auto-group-lzss-i4d">
            <div class="label1-SWR">Label1</div>
            <div class="label2-YpM">Count</div>
          </div>
          <div class="auto-group-uhuh-FTs">
            <div class="label3-nTo">Label3</div>
            <div class="label4-W8u">Label4</div>
          </div>
          <div class="auto-group-deer-27F">
            <div class="label5-MvD">Label5</div>
            <img class="icons-regular-chevron-down-s-4pd" src="./assets/icons-regular-chevron-down-s-NNq.png"/>
          </div>
        </div>
        <div class="auto-group-aaym-nVj">
          <div class="item-hover-w7j">
            <div class="auto-group-xgwp-qU1">
              <div class="label1-y4R">Label1</div>
              <div class="label3-Ums">Mean</div>
            </div>
            <div class="label2-yyX">Label2</div>
            <div class="label4-bzu">Label4</div>
            <div class="auto-group-jqnh-X7s">
              <div class="label5-fzm">Label5</div>
              <img class="icons-regular-chevron-down-s-abw" src="./assets/icons-regular-chevron-down-s.png"/>
            </div>
          </div>
          <div class="item-hover-u8R">
            <div class="auto-group-vbch-QL5">
              <div class="label1-w57">Label1</div>
              <div class="label4-rC5">Median</div>
            </div>
            <div class="auto-group-nvut-9ws">
              <div class="label2-gB7">Label2</div>
              <div class="label3-CQM">Label3</div>
            </div>
            <div class="auto-group-1g7w-WR3">
              <div class="label5-G9K">Label5</div>
              <img class="icons-regular-chevron-down-s-n7f" src="./assets/icons-regular-chevron-down-s-U3w.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>