<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Meringkas Data (tabel)</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500"/>
  <link rel="stylesheet" href="../styles/meringkas-data-tabel.css"/>
</head>
<body>
<div class="meringkas-data-tabel-db3">
  <div class="navbar-j8H">
  </div>
  <div class="auto-group-zhfs-Ge1">
    <p class="ringkas-data-MQZ">Ringkas Data</p>
    <div class="table-3oB">
      <div class="count-of-fish-aYD">
        <p class="count-of-fish-h73">Count of Fish</p>
        <p class="item-10-1Nd">10</p>
        <div class="item-21-i29">21</div>
        <div class="item-15-DUh">15</div>
        <div class="item-32-LZK">32</div>
        <div class="item-25-Tdw">25</div>
      </div>
      <div class="education-ayT">
        <p class="education-W6R">Education</p>
        <p class="primary-school-2Kf">Primary School</p>
        <div class="junior-high-school-Mcq">Junior High School</div>
        <div class="high-school-USZ">High School</div>
        <div class="college-yPK">College</div>
        <div class="university-GdK">University</div>
      </div>
      <div class="table-line-ATo">
        <div class="line-22-SgD">
        </div>
        <div class="line-21-xeZ">
        </div>
        <div class="line-20-tYD">
        </div>
        <div class="line-19-pwf">
        </div>
      </div>
    </div>
    <div class="line-24-gDB">
    </div>
    <p class="select-data-set-ChK">Select data set</p>
    <div class="line-6-4zR">
    </div>
    <div class="rectangle-16-Caq">
    </div>
    <p class="variabel-X7K">Variabel</p>
    <div class="rectangle-17-35f">
    </div>
    <p class="variabel-Ndj">Variabel</p>
    <div class="rectangle-18-hAD">
    </div>
    <p class="variabel-dJm">Variabel</p>
    <div class="rectangle-19-YRj">
    </div>
    <p class="variabel-5Rf">Variabel</p>
    <div class="rectangle-20-14R">
    </div>
    <p class="variabel-YKF">Variabel</p>
    <div class="dropdown-box-sMX">
      <div class="items-frame-oky">
        <div class="items-list-YTf">
          <div class="auto-group-mwsw-rz9">
            <div class="item-hover-ouP">
              <div class="auto-group-ldxt-Jr9">Label1</div>
              <div class="auto-group-czlr-a2y">
                <div class="label2-tpM">Label2</div>
                <div class="label3-oAd">Label3</div>
                <div class="label4-Waq">Label4</div>
              </div>
              <div class="label5-1Gh">Label5</div>
              <img class="icons-regular-chevron-down-s-KHP" src="./assets/icons-regular-chevron-down-s-izH.png"/>
            </div>
            <div class="item-hover-2Bo">
              <div class="auto-group-wytf-iKX">
                <div class="label1-qf3">Label1</div>
                <div class="label2-jEd">Label2</div>
              </div>
              <div class="auto-group-pskr-nCu">
                <div class="label3-GNy">Label3</div>
                <div class="label4-Zss">Label4</div>
              </div>
              <div class="label5-x9K">Label5</div>
              <img class="icons-regular-chevron-down-s-Trm" src="./assets/icons-regular-chevron-down-s-t2Z.png"/>
            </div>
          </div>
          <div class="auto-group-dlp7-AmB">
            <div class="item-hover-vEZ">
              <div class="auto-group-teuv-ct5">
                <div class="label1-Ymj">Label1</div>
                <div class="label3-3yP">Label3</div>
              </div>
              <div class="label2-Mz5">Label2</div>
              <div class="label4-fzm">Label4</div>
              <div class="label5-BiD">Label5</div>
              <img class="icons-regular-chevron-down-s-JH3" src="./assets/icons-regular-chevron-down-s-2pV.png"/>
            </div>
            <div class="item-hover-Deu">
              <div class="auto-group-2ecu-X9o">
                <div class="label1-Fbb">Label1</div>
                <div class="label4-ZcH">Label4</div>
              </div>
              <div class="auto-group-vamt-sN5">
                <div class="label2-bos">Label2</div>
                <div class="label3-itV">Label3</div>
              </div>
              <div class="label5-Erq">Label5</div>
              <img class="icons-regular-chevron-down-s-9iu" src="./assets/icons-regular-chevron-down-s-XCh.png"/>
            </div>
          </div>
          <div class="item-hover-4L5">
            <div class="auto-group-fvvy-NrZ">
              <div class="label1-u5o">Label1</div>
              <div class="label5-ows">Label5</div>
            </div>
            <div class="auto-group-lgv3-X7B">
              <div class="label2-FJ5">Label2</div>
              <div class="label3-Avq">Label3</div>
              <div class="label4-6Zb">Label4</div>
            </div>
            <img class="icons-regular-chevron-down-s-QqB" src="./assets/icons-regular-chevron-down-s-SxV.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="header-i5B">
      <div class="auto-group-8sdw-1KB">Education</div>
      <div class="auto-group-ep9b-HnV">
        <div class="label1-2k5">Label1</div>
        <div class="label2-YCd">Label2</div>
        <img class="icons-regular-chevron-down-s-rUD" src="./assets/icons-regular-chevron-down-s-UcD.png"/>
      </div>
      <div class="label3-NxM">Label3</div>
      <div class="auto-group-zm97-uhP">
        <div class="label4-44V">Label4</div>
        <div class="label5-Nay">Label5</div>
      </div>
    </div>
    <div class="header-4To">
      <div class="auto-group-r8zb-MSu">Count of Fish</div>
      <div class="auto-group-ogko-eB7">
        <div class="label1-Nso">Label1</div>
        <div class="label2-HUy">Label2</div>
        <img class="icons-regular-chevron-down-s-nwX" src="./assets/icons-regular-chevron-down-s-tNZ.png"/>
      </div>
      <div class="label3-Wcd">Label3</div>
      <div class="auto-group-erhp-F4R">
        <div class="label4-CEZ">Label4</div>
        <div class="label5-u8y">Label5</div>
      </div>
    </div>
  </div>
</div>
</body>