<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>View data sets</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="../styles/view-data-sets.css"/>
</head>
<body>
<div class="view-data-sets-Lgd">
  <div class="navbar-G4V">
  </div>
  <div class="auto-group-3hxb-125">
    <div class="auto-group-gkg5-Jms">
      <p class="data-sets-3jT">Data sets</p>
      <div class="auto-group-fumb-Ap5">
        <div class="line-24-Wd3">
        </div>
        <p class="data-set-1-2rH">Data set 1</p>
        <p class="fields-7sj">Fields</p>
      </div>
    </div>
    <div class="auto-group-3cgv-pXF">
      <div class="table-ju7">
        <div class="count-of-fish-JBX">
          <p class="count-of-fish-R1F">Count of Fish</p>
          <p class="item-10-KsK">10</p>
          <div class="item-21-2mj">21</div>
          <div class="item-15-LXX">15</div>
          <div class="item-32-4TX">32</div>
          <div class="item-25-BY9">25</div>
        </div>
        <div class="education-hWV">
          <p class="education-Dzd">Education</p>
          <p class="primary-school-Yn1">Primary School</p>
          <div class="junior-high-school-spH">Junior High School</div>
          <div class="high-school-Ba5">High School</div>
          <div class="college-Jeh">College</div>
          <div class="university-q8q">University</div>
        </div>
        <div class="table-line-a6R">
          <div class="line-22-FiM">
          </div>
          <div class="line-21-b1X">
          </div>
          <div class="line-20-Xfs">
          </div>
          <div class="line-19-TpR">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>