.meringkas-data-tabel-Zc7 {
    align-items: center;
    background-color: #fefffc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 6.9rem;
    position: relative;
    width: 100%;
  
    .navbar-x8T {
      background-color: #292929;
      flex-shrink: 0;
      height: 11.9rem;
      margin-bottom: 4.2rem;
      width: 100%;
    }
    .auto-group-6dvt-uLX {
      flex-shrink: 0;
      height: 85rem;
      margin: 0rem 14.9rem 0rem 10.1rem;
      position: relative;
      width: calc(100% - 25rem);
  
      .ringkas-data-AXM {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 7rem;
        font-weight: 700;
        height: 8.5rem;
        left: 4.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 45rem;
      }
      .table-pbu {
        border: solid 0.1rem rgba(41, 41, 41, 0.5500000119);
        box-sizing: border-box;
        height: 70.3rem;
        left: 65.1rem;
        position: absolute;
        top: 12.7rem;
        width: 101.9rem;
  
        .count-of-fish-8Mh {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 28.0725rem;
          left: 46.0106rem;
          position: absolute;
          top: 3.1rem;
          width: 10.1rem;
  
          .count-of-fish-3Dm {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 3.1068rem;
            text-align: center;
            white-space: nowrap;
          }
          .item-10-MVM {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2125;
            margin: 0rem 0rem 3.793rem 0rem;
            text-align: center;
            white-space: nowrap;
          }
          .item-21-S11 {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 0rem 3.724rem 0rem;
            white-space: nowrap;
          }
          .item-15-L6P {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 0rem 3.724rem 0rem;
            white-space: nowrap;
          }
          .item-32-eMy {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 0rem 3.724rem 0rem;
            white-space: nowrap;
          }
          .item-25-mSb {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-right: 0rem;
            white-space: nowrap;
          }
        }
        .education-6Dy {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 28.0725rem;
          left: 4.6791rem;
          position: absolute;
          top: 3.1rem;
          width: 9.3rem;
  
          .education-zq9 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            margin: 0rem 0.923rem 3.107rem 0rem;
            white-space: nowrap;
          }
          .primary-school-XKH {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 3.0241rem;
            text-align: center;
            white-space: nowrap;
          }
          .junior-high-school-Sx3 {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-bottom: 2.8934rem;
            max-width: 7rem;
          }
          .high-school-khq {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-bottom: 3.7241rem;
            white-space: nowrap;
          }
          .college-5k7 {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-bottom: 3.7241rem;
            white-space: nowrap;
          }
          .university-pBu {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
        .table-line-7Ru {
          align-items: center;
          border-bottom: solid 0.1rem rgba(41, 41, 41, 0.150000006);
          border-top: solid 0.3rem rgba(41, 41, 41, 0.150000006);
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 26.6944rem;
          left: 2.3rem;
          padding: 5.298rem 0rem 5.324rem 0rem;
          position: absolute;
          row-gap: 5.2241rem;
          top: 6.3858rem;
          width: 97.3rem;
  
          .line-22-yj1 {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin-right: 0.0002rem;
            width: calc(100% - 0.0002rem);
          }
          .line-21-Hzb {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin-right: 0.0002rem;
            width: calc(100% - 0.0002rem);
          }
          .line-20-Rqu {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin-right: 0.0002rem;
            width: calc(100% - 0.0002rem);
          }
          .line-19-AYb {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin: 0rem 0rem 0rem 0rem;
            width: calc(100% - 0.0002rem);
          }
        }
      }
      .line-24-Dmm {
        background-color: rgba(41, 41, 41, 0.5500000119);
        height: 70.3002rem;
        left: 30.4rem;
        position: absolute;
        top: 12.7rem;
        width: 0.1rem;
      }
      .select-data-set-vw5 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 3rem;
        left: 1.1rem;
        line-height: 1.2125;
        position: absolute;
        top: 12.7rem;
        white-space: nowrap;
        width: 17.1rem;
      }
      .line-6-DQP {
        background-color: rgba(41, 41, 41, 0.5500000119);
        height: 0.1rem;
        left: 0;
        position: absolute;
        top: 16.6rem;
        width: 24.0133rem;
      }
      .rectangle-16-9Yw {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 19rem;
        width: 21.4rem;
      }
      .variabel-GtT {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 19.7rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-17-nbu {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 23.3rem;
        width: 21.4rem;
      }
      .variabel-hD5 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 24rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-18-DBR {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 27.6rem;
        width: 21.4rem;
      }
      .variabel-jvT {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 28.3rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-19-G9h {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 31.9rem;
        width: 21.4rem;
      }
      .variabel-Pk7 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 32.6rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-20-iXV {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 36.2rem;
        width: 21.4rem;
      }
      .variabel-TV5 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 36.9rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .dropdown-box-yiK {
        height: 8.0285rem;
        left: 34rem;
        position: absolute;
        top: 16.7rem;
        width: 53.3rem;
  
        .items-frame-iR1 {
          box-sizing: border-box;
          height: 0.1912rem;
          margin-bottom: 7.8373rem;
          overflow: hidden;
          padding-top: 0.1911rem;
          position: relative;
          width: 100%;
  
          .items-list-3y5 {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0 0 1.5292rem 1.5292rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 41.6715rem;
            overflow: hidden;
            padding-top: 1.5292rem;
            position: relative;
            row-gap: 0rem;
            width: 100%;
  
            .auto-group-tzd9-aCK {
              flex-shrink: 0;
              height: 16.0569rem;
              position: relative;
              width: 100%;
  
              .item-hover-f7H {
                align-items: center;
                background-color: #ffffff;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                height: 8.0285rem;
                left: 0;
                padding: 1.72rem 5.384rem 3.085rem 4.588rem;
                position: absolute;
                top: 0;
                width: 53.3rem;
  
                .auto-group-mvpo-j79 {
                  box-sizing: border-box;
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0.262rem 1.416rem 0rem 0rem;
                  padding-top: 1.1612rem;
                  white-space: nowrap;
                  width: 4.1272rem;
                }
                .auto-group-zf3h-nbD {
                  flex-shrink: 0;
                  height: 1.8rem;
                  margin: 0rem 2.645rem 1.423rem 0rem;
                  position: relative;
                  width: 9.7797rem;
  
                  .label2-Wn7 {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                  .label3-DgX {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 2.0549rem;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                  .label4-jPy {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 5.4797rem;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.3rem;
                  }
                }
                .label5-2dy {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 18.93rem 1.423rem 0rem;
                  white-space: nowrap;
                }
                .icons-regular-chevron-down-s-LuZ {
                  flex-shrink: 0;
                  height: 1.2744rem;
                  margin-top: 1.6828rem;
                  object-fit: contain;
                  opacity: 0;
                  vertical-align: top;
                  width: 2.2301rem;
                }
              }
              .item-hover-evF {
                align-items: center;
                background-color: #ffffff;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                height: 8.0285rem;
                left: 0;
                padding: 1.72rem 5.384rem 3.085rem 4.588rem;
                position: absolute;
                top: 8.0285rem;
                width: 53.3rem;
  
                .auto-group-ps7m-Z1d {
                  flex-shrink: 0;
                  height: 2.9612rem;
                  margin: 0.262rem 3.398rem 0rem 0rem;
                  position: relative;
                  width: 4.2rem;
  
                  .label1-fqM {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0.3112rem;
                    white-space: nowrap;
                    width: 3.9rem;
                  }
                  .label2-MiB {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 1.1612rem;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                }
                .auto-group-bzth-SUj {
                  flex-shrink: 0;
                  height: 1.8rem;
                  margin: 0rem 2.645rem 1.423rem 0rem;
                  position: relative;
                  width: 7.7248rem;
  
                  .label3-a59 {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                  .label4-VT1 {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 3.4248rem;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.3rem;
                  }
                }
                .label5-zuZ {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 18.93rem 1.423rem 0rem;
                  white-space: nowrap;
                }
                .icons-regular-chevron-down-s-i4s {
                  flex-shrink: 0;
                  height: 1.2744rem;
                  margin-top: 1.6828rem;
                  object-fit: contain;
                  opacity: 0;
                  vertical-align: top;
                  width: 2.2301rem;
                }
              }
            }
            .auto-group-scwm-dSj {
              flex-shrink: 0;
              height: 16.0569rem;
              position: relative;
              width: 100%;
  
              .item-hover-PB1 {
                align-items: center;
                background-color: #ffffff;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                height: 8.0285rem;
                left: 0;
                padding: 1.72rem 5.384rem 3.085rem 4.588rem;
                position: absolute;
                top: 0;
                width: 53.3rem;
  
                .auto-group-dkqm-J35 {
                  flex-shrink: 0;
                  height: 2.9612rem;
                  margin: 0.262rem 1.343rem 0rem 0rem;
                  position: relative;
                  width: 4.2rem;
  
                  .label1-1iB {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0.3112rem;
                    white-space: nowrap;
                    width: 3.9rem;
                  }
                  .label3-JxB {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 1.1612rem;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                }
                .label2-DZM {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 1.28rem 1.423rem 0rem;
                  white-space: nowrap;
                }
                .label4-8RR {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 2.645rem 1.423rem 0rem;
                  white-space: nowrap;
                }
                .label5-pZ9 {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 18.93rem 1.423rem 0rem;
                  white-space: nowrap;
                }
                .icons-regular-chevron-down-s-95d {
                  flex-shrink: 0;
                  height: 1.2744rem;
                  margin-top: 1.6828rem;
                  object-fit: contain;
                  opacity: 0;
                  vertical-align: top;
                  width: 2.2301rem;
                }
              }
              .item-hover-Ts1 {
                align-items: center;
                background-color: #ffffff;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                height: 8.0285rem;
                left: 0;
                padding: 1.72rem 5.384rem 3.085rem 4.588rem;
                position: absolute;
                top: 8.0285rem;
                width: 53.3rem;
  
                .auto-group-zlf5-xom {
                  flex-shrink: 0;
                  height: 2.9612rem;
                  margin: 0.262rem 1.243rem 0rem 0rem;
                  position: relative;
                  width: 4.3rem;
  
                  .label1-tSX {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0.3112rem;
                    white-space: nowrap;
                    width: 3.9rem;
                  }
                  .label4-Pu5 {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 1.1612rem;
                    white-space: nowrap;
                    width: 4.3rem;
                  }
                }
                .auto-group-efo9-WTu {
                  flex-shrink: 0;
                  height: 1.8rem;
                  margin: 0rem 6.17rem 1.423rem 0rem;
                  position: relative;
                  width: 6.2549rem;
  
                  .label2-S6f {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 0;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                  .label3-xKu {
                    color: #313043;
                    display: flex;
                    font-family: Poppins, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 500;
                    height: 1.8rem;
                    left: 2.0549rem;
                    letter-spacing: 0.036rem;
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    width: 4.2rem;
                  }
                }
                .label5-4tj {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 18.93rem 1.423rem 0rem;
                  white-space: nowrap;
                }
                .icons-regular-chevron-down-s-yko {
                  flex-shrink: 0;
                  height: 1.2744rem;
                  margin-top: 1.6828rem;
                  object-fit: contain;
                  opacity: 0;
                  vertical-align: top;
                  width: 2.2301rem;
                }
              }
            }
            .item-hover-tMy {
              align-items: center;
              background-color: #ffffff;
              box-sizing: border-box;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              padding: 1.72rem 5.384rem 3.085rem 4.588rem;
              width: 100%;
  
              .auto-group-x6ou-com {
                flex-shrink: 0;
                height: 2.9612rem;
                margin: 0.262rem 1.343rem 0rem 0rem;
                position: relative;
                width: 4.2rem;
  
                .label1-x6w {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0.3112rem;
                  white-space: nowrap;
                  width: 3.9rem;
                }
                .label5-ri7 {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 1.1612rem;
                  white-space: nowrap;
                  width: 4.2rem;
                }
              }
              .auto-group-gdtx-Aio {
                flex-shrink: 0;
                height: 1.8rem;
                margin: 0rem 25.775rem 1.423rem 0rem;
                position: relative;
                width: 9.7797rem;
  
                .label2-JKD {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0;
                  white-space: nowrap;
                  width: 4.2rem;
                }
                .label3-d6b {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 2.0549rem;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0;
                  white-space: nowrap;
                  width: 4.2rem;
                }
                .label4-j9d {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 5.4797rem;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0;
                  white-space: nowrap;
                  width: 4.3rem;
                }
              }
              .icons-regular-chevron-down-s-SJw {
                flex-shrink: 0;
                height: 1.2744rem;
                margin-top: 1.6828rem;
                object-fit: contain;
                opacity: 0;
                vertical-align: top;
                width: 2.2301rem;
              }
            }
          }
        }
      }
      .header-vzo {
        align-items: flex-end;
        background-color: #ffffff;
        border: solid 0.2485rem #b7bac2;
        box-sizing: border-box;
        display: flex;
        height: 4.3rem;
        left: 33.1rem;
        padding: 1.25rem 0rem 0.206rem 3.441rem;
        position: absolute;
        top: 18.3rem;
        width: 37.5086rem;
  
        .auto-group-ndky-d8X {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          height: 2.686rem;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin: 0rem 7.554rem 0.158rem 0rem;
          white-space: nowrap;
        }
        .auto-group-mmsb-i9y {
          flex-shrink: 0;
          height: 2.4217rem;
          margin-right: 0.1696rem;
          position: relative;
          width: 7.6678rem;
  
          .label1-dnj {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.6217rem;
            white-space: nowrap;
            width: 3.9rem;
          }
          .label2-9WB {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.485rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.6217rem;
            white-space: nowrap;
            width: 4.2rem;
          }
          .icons-regular-chevron-down-s-eSw {
            height: 1.2744rem;
            left: 5.4376rem;
            object-fit: contain;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 2.2301rem;
          }
        }
        .label3-yEK {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin-right: 1.0249rem;
          white-space: nowrap;
        }
        .auto-group-p6jm-J1h {
          flex-shrink: 0;
          height: 1.8rem;
          position: relative;
          width: 7.0514rem;
  
          .label4-Evw {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.3rem;
          }
          .label5-mR5 {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.8514rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.2rem;
          }
        }
      }
      .header-THu {
        align-items: flex-end;
        background-color: #ffffff;
        border: solid 0.2485rem #b7bac2;
        box-sizing: border-box;
        display: flex;
        height: 4.3rem;
        left: 33.1rem;
        padding: 1.25rem 0rem 0.206rem 3.441rem;
        position: absolute;
        top: 23.1rem;
        width: 37.5086rem;
  
        .auto-group-2h39-xVZ {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          height: 2.686rem;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin: 0rem 5.554rem 0.158rem 0rem;
          white-space: nowrap;
        }
        .auto-group-ydxp-f95 {
          flex-shrink: 0;
          height: 2.4217rem;
          margin-right: 0.1696rem;
          position: relative;
          width: 7.6678rem;
  
          .label1-Ceo {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.6217rem;
            white-space: nowrap;
            width: 3.9rem;
          }
          .label2-7mm {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.485rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.6217rem;
            white-space: nowrap;
            width: 4.2rem;
          }
          .icons-regular-chevron-down-s-pw5 {
            height: 1.2744rem;
            left: 5.4376rem;
            object-fit: contain;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 2.2301rem;
          }
        }
        .label3-x1h {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin-right: 1.0249rem;
          white-space: nowrap;
        }
        .auto-group-5mdd-seT {
          flex-shrink: 0;
          height: 1.8rem;
          position: relative;
          width: 7.0514rem;
  
          .label4-pZh {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.3rem;
          }
          .label5-ur3 {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.8514rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.2rem;
          }
        }
      }
    }
  }