.meringkas-data-tabel-oHM {
    align-items: center;
    background-color: #fefffc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 6.9rem;
    position: relative;
    width: 100%;
  
    .navbar-nf5 {
      background-color: #292929;
      flex-shrink: 0;
      height: 11.9rem;
      margin-bottom: 4.2rem;
      width: 100%;
    }
    .auto-group-vcbm-h1M {
      flex-shrink: 0;
      height: 85rem;
      margin: 0rem 14.9rem 0rem 10.1rem;
      position: relative;
      width: calc(100% - 25rem);
  
      .ringkas-data-Mrb {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 7rem;
        font-weight: 700;
        height: 8.5rem;
        left: 4.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 45rem;
      }
      .table-d3R {
        border: solid 0.1rem rgba(41, 41, 41, 0.5500000119);
        box-sizing: border-box;
        height: 70.3rem;
        left: 65.1rem;
        position: absolute;
        top: 12.7rem;
        width: 101.9rem;
  
        .count-of-fish-91m {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 28.0725rem;
          left: 46.6106rem;
          position: absolute;
          top: 3.1rem;
          width: 8.9rem;
  
          .sum-of-fish-SFm {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 3.1068rem;
            text-align: center;
            white-space: nowrap;
          }
          .item-100-Lrw {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2125;
            margin: 0rem 0rem 3.793rem 0rem;
            text-align: center;
            white-space: nowrap;
          }
          .item-210-RtP {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 0rem 3.724rem 0rem;
            white-space: nowrap;
          }
          .item-150-XAj {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 0rem 3.724rem 0rem;
            white-space: nowrap;
          }
          .item-320-dzT {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 0rem 3.724rem 0rem;
            white-space: nowrap;
          }
          .item-250-xWw {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-right: 0rem;
            white-space: nowrap;
          }
        }
        .education-tQb {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 28.0725rem;
          left: 4.6791rem;
          position: absolute;
          top: 3.1rem;
          width: 9.3rem;
  
          .education-Q83 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            margin: 0rem 0.923rem 3.107rem 0rem;
            white-space: nowrap;
          }
          .primary-school-vcB {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 3.0241rem;
            text-align: center;
            white-space: nowrap;
          }
          .junior-high-school-rVq {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-bottom: 2.8934rem;
            max-width: 7rem;
          }
          .high-school-mco {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-bottom: 3.7241rem;
            white-space: nowrap;
          }
          .college-GpT {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            margin-bottom: 3.7241rem;
            white-space: nowrap;
          }
          .university-Te3 {
            align-items: center;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
        .table-line-MjR {
          align-items: center;
          border-bottom: solid 0.1rem rgba(41, 41, 41, 0.150000006);
          border-top: solid 0.3rem rgba(41, 41, 41, 0.150000006);
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 26.6944rem;
          left: 2.3rem;
          padding: 5.298rem 0rem 5.324rem 0rem;
          position: absolute;
          top: 6.3858rem;
          width: 97.3rem;
  
          .line-22-EoD {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin: 0rem 0rem 5.224rem 0rem;
            width: calc(100% - 0.0002rem);
          }
          .line-21-You {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin: 0rem 0rem 5.224rem 0rem;
            width: calc(100% - 0.0002rem);
          }
          .line-20-UhZ {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin: 0rem 0rem 5.224rem 0rem;
            width: calc(100% - 0.0002rem);
          }
          .line-19-cHy {
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            height: 0.1rem;
            margin: 0rem 0rem 5.224rem 0rem;
            width: calc(100% - 0.0002rem);
          }
        }
      }
      .line-24-5ST {
        background-color: rgba(41, 41, 41, 0.5500000119);
        height: 70.3002rem;
        left: 30.4rem;
        position: absolute;
        top: 12.7rem;
        width: 0.1rem;
      }
      .select-data-set-QUj {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 3rem;
        left: 1.1rem;
        line-height: 1.2125;
        position: absolute;
        top: 12.7rem;
        white-space: nowrap;
        width: 17.1rem;
      }
      .line-6-6cT {
        background-color: rgba(41, 41, 41, 0.5500000119);
        height: 0.1rem;
        left: 0;
        position: absolute;
        top: 16.6rem;
        width: 24.0133rem;
      }
      .rectangle-16-Rej {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 19rem;
        width: 21.4rem;
      }
      .variabel-YjM {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 19.7rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-17-fJB {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 23.3rem;
        width: 21.4rem;
      }
      .variabel-nNo {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 24rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-18-UFd {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 27.6rem;
        width: 21.4rem;
      }
      .variabel-cMq {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 28.3rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-19-Xjh {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 31.9rem;
        width: 21.4rem;
      }
      .variabel-UQ3 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 32.6rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .rectangle-20-oBR {
        background-color: #36da27;
        border-radius: 2rem;
        height: 3.3rem;
        left: 1.1rem;
        position: absolute;
        top: 36.2rem;
        width: 21.4rem;
      }
      .variabel-jqm {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2rem;
        left: 2.9rem;
        line-height: 1.2125;
        position: absolute;
        top: 36.9rem;
        white-space: nowrap;
        width: 6.1rem;
      }
      .header-F3R {
        align-items: flex-end;
        background-color: #ffffff;
        border: solid 0.2485rem #b7bac2;
        box-sizing: border-box;
        display: flex;
        height: 4.3rem;
        left: 33.1rem;
        overflow: hidden;
        padding: 1.25rem 0rem 0.206rem 3.441rem;
        position: absolute;
        top: 18.3rem;
        width: 29.3rem;
  
        .auto-group-fuvs-jUP {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          height: 2.686rem;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin: 0rem 7.554rem 0.158rem 0rem;
          white-space: nowrap;
        }
        .auto-group-yrbd-bmV {
          flex-shrink: 0;
          height: 2.4218rem;
          margin-right: 0.1696rem;
          position: relative;
          width: 7.6678rem;
  
          .label1-jMu {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.6218rem;
            white-space: nowrap;
            width: 3.9rem;
          }
          .label2-2ro {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.485rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.6218rem;
            white-space: nowrap;
            width: 4.2rem;
          }
          .icons-regular-chevron-down-s-wTy {
            height: 1.2744rem;
            left: 5.4376rem;
            object-fit: contain;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 2.2301rem;
          }
        }
        .label3-etB {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin-right: 1.0249rem;
          white-space: nowrap;
        }
        .auto-group-fnus-yQf {
          flex-shrink: 0;
          height: 1.8rem;
          position: relative;
          width: 7.0513rem;
  
          .label4-KUX {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.3rem;
          }
          .label5-2dq {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.8513rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.2rem;
          }
        }
      }
      .header-VXR {
        align-items: flex-end;
        background-color: #ffffff;
        border: solid 0.2485rem #215aff;
        box-sizing: border-box;
        display: flex;
        height: 4.4rem;
        left: 33.1rem;
        padding: 1.3rem 0rem 0.306rem 3.441rem;
        position: absolute;
        top: 23.1rem;
        width: 37.5086rem;
  
        .auto-group-yakk-yxP {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          height: 2.636rem;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin: 0rem 6.654rem 0.158rem 0rem;
          white-space: nowrap;
        }
        .auto-group-viww-Fuu {
          flex-shrink: 0;
          height: 2.6903rem;
          margin-right: 0.1696rem;
          position: relative;
          width: 7.6678rem;
  
          .label1-nuq {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.8903rem;
            white-space: nowrap;
            width: 3.9rem;
          }
          .label2-6fd {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.485rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0.8903rem;
            white-space: nowrap;
            width: 4.2rem;
          }
          .icons-regular-chevron-up-s-YnX {
            height: 1.2744rem;
            left: 5.4376rem;
            object-fit: contain;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 2.2301rem;
          }
        }
        .label3-fMM {
          color: #313043;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.036rem;
          line-height: 1.5;
          margin-right: 1.0249rem;
          white-space: nowrap;
        }
        .auto-group-bmzu-ycw {
          flex-shrink: 0;
          height: 1.8rem;
          position: relative;
          width: 7.0514rem;
  
          .label4-iqR {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 0;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.3rem;
          }
          .label5-1pX {
            color: #313043;
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 500;
            height: 1.8rem;
            left: 2.8514rem;
            letter-spacing: 0.036rem;
            line-height: 1.5;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 4.2rem;
          }
        }
      }
      .items-frame-Uy1 {
        height: 24.1rem;
        left: 33.1rem;
        overflow: hidden;
        position: absolute;
        top: 27.6rem;
        width: 29.3rem;
  
        .items-list-Dfh {
          background-color: #ffffff;
          border-radius: 0 0 1.5292rem 1.5292rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 41.6715rem;
          overflow: hidden;
          padding-top: 17.5862rem;
          position: relative;
          width: 100%;
  
          .item-hover-MG7 {
            align-items: center;
            background-color: #ffffff;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            margin-bottom: 0rem;
            padding: 1.72rem 2.544rem 3.085rem 4.588rem;
            width: 100%;
  
            .auto-group-jcjw-4wD {
              flex-shrink: 0;
              height: 2.9612rem;
              margin: 0.262rem 3.471rem 0rem 0rem;
              position: relative;
              width: 4.1272rem;
  
              .label1-bAT {
                color: #313043;
                display: flex;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                height: 1.8rem;
                left: 0;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                position: absolute;
                top: 0.3112rem;
                white-space: nowrap;
                width: 3.9rem;
              }
              .label2-UEF {
                color: #313043;
                display: flex;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                height: 1.8rem;
                left: 0;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                position: absolute;
                top: 1.1612rem;
                white-space: nowrap;
                width: 3.9rem;
              }
            }
            .auto-group-yxmd-nEw {
              flex-shrink: 0;
              height: 1.8rem;
              margin: 0rem 1.775rem 1.423rem 0rem;
              position: relative;
              width: 7.7248rem;
  
              .label3-72K {
                color: #313043;
                display: flex;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                height: 1.8rem;
                left: 0;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                position: absolute;
                top: 0;
                white-space: nowrap;
                width: 4.2rem;
              }
              .label4-cUs {
                color: #313043;
                display: flex;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                height: 1.8rem;
                left: 3.4248rem;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                position: absolute;
                top: 0;
                white-space: nowrap;
                width: 4.3rem;
              }
            }
            .auto-group-w57q-8CK {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 0.1331rem;
  
              .label5-5dM {
                color: #313043;
                display: flex;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                margin: 0rem 0rem 0.016rem 0.87rem;
                white-space: nowrap;
              }
              .icons-regular-chevron-down-s-zkK {
                flex-shrink: 0;
                height: 1.2744rem;
                object-fit: contain;
                opacity: 0;
                vertical-align: top;
                width: 2.2301rem;
              }
            }
          }
          .auto-group-mwbd-iAX {
            flex-shrink: 0;
            height: 16.0569rem;
            position: relative;
            width: 49.7rem;
  
            .item-hover-rnX {
              align-items: center;
              background-color: #ffffff;
              box-sizing: border-box;
              cursor: pointer;
              display: flex;
              height: 8.0285rem;
              left: 0;
              padding: 1.72rem 2.544rem 3.085rem 4.588rem;
              position: absolute;
              top: 0;
              width: 29.3rem;
  
              .auto-group-icu3-Lhh {
                flex-shrink: 0;
                height: 2.9612rem;
                margin: 0.262rem 1.416rem 0rem 0rem;
                position: relative;
                width: 4.1272rem;
  
                .label1-rvw {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0.3112rem;
                  white-space: nowrap;
                  width: 3.9rem;
                }
                .label3-9f9 {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 1.1612rem;
                  white-space: nowrap;
                  width: 3.6rem;
                }
              }
              .label2-Su9 {
                color: #313043;
                display: flex;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                margin: 0rem 1.28rem 1.423rem 0rem;
                white-space: nowrap;
              }
              .label4-MmD {
                color: #313043;
                display: flex;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 0.036rem;
                line-height: 1.5;
                margin: 0rem 1.775rem 1.423rem 0rem;
                white-space: nowrap;
              }
              .auto-group-6v99-5SK {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 0.1331rem;
  
                .label5-E4K {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 0rem 0.016rem 0.87rem;
                  white-space: nowrap;
                }
                .icons-regular-chevron-down-s-kHZ {
                  flex-shrink: 0;
                  height: 1.2744rem;
                  object-fit: contain;
                  opacity: 0;
                  vertical-align: top;
                  width: 2.2301rem;
                }
              }
            }
            .item-hover-sd5 {
              align-items: center;
              background-color: #ffffff;
              box-sizing: border-box;
              cursor: pointer;
              display: flex;
              height: 8.0285rem;
              left: 0;
              padding: 1.72rem 2.544rem 3.085rem 4.588rem;
              position: absolute;
              top: 8.0284rem;
              width: 29.3rem;
  
              .auto-group-x6hq-yw1 {
                flex-shrink: 0;
                height: 2.9612rem;
                margin: 0.262rem 0.743rem 0rem 0rem;
                position: relative;
                width: 4.8rem;
  
                .label1-upf {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0.3112rem;
                  white-space: nowrap;
                  width: 3.9rem;
                }
                .label4-1Mu {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 1.1612rem;
                  white-space: nowrap;
                  width: 4.8rem;
                }
              }
              .auto-group-ecw5-in7 {
                flex-shrink: 0;
                height: 1.8rem;
                margin: 0rem 5.3rem 1.423rem 0rem;
                position: relative;
                width: 6.2549rem;
  
                .label2-FGF {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 0;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0;
                  white-space: nowrap;
                  width: 4.2rem;
                }
                .label3-LHh {
                  color: #313043;
                  display: flex;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  height: 1.8rem;
                  left: 2.0549rem;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  position: absolute;
                  top: 0;
                  white-space: nowrap;
                  width: 4.2rem;
                }
              }
              .auto-group-cahh-eZH {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 0.1332rem;
  
                .label5-18w {
                  color: #313043;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  letter-spacing: 0.036rem;
                  line-height: 1.5;
                  margin: 0rem 0rem 0.016rem 0.87rem;
                  white-space: nowrap;
                }
                .icons-regular-chevron-down-s-vWo {
                  flex-shrink: 0;
                  height: 1.2744rem;
                  object-fit: contain;
                  opacity: 0;
                  vertical-align: top;
                  width: 2.2301rem;
                }
              }
            }
          }
        }
      }
    }
  }